doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(name='start-url', content='/')
    meta(name='theme-color', content='#000')
    meta(name='application-name', content='LT')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='msapplication-TileColor', content='#000')
    meta(name='msapplication-TileImage', content='/icon.png')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='APP_NAME')
    meta(name='description', content='APP_NAME')
    link(rel='apple-touch-icon', href='/icon.png')
    link(rel='icon', sizes='192x192', href='/icon.png')
    link(rel='manifest', href='/manifest.json')
    title APP
  body
    p #{message}
    script(src='/main.js')